*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: white;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100vh;
}

.cabecalho{
    width: 80%;
    height: 60px;
    
}

.menu{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo{
    width: 100px;
    height: 100px;
}

#titulo-site{
    color: green;
    font-size: 60px;
}